html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
    background: linear-gradient(0deg, rgba(171,110,80,1) 0%, rgba(228,177,142,1) 50%, rgba(171,110,80,1) 100%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.label-footer {
    font-family: "Bodoni MT Poster Compressed";
    font-size: 36px;
    padding: 10px;
    margin:0
}

.div-auth {
    margin-left: 10px;
    margin-right: 10px;
}

.form-auth {
    height: 100%;
    width: 100%;
    display: flex;

    border-left: 1px solid black;
    border-right: 1px solid black;
}

.btn-auth {
    width: 100px;
    background-color: inherit;
    border-top: 0px none red;
    border-bottom: 0px none red;
    border-left: 0px none red;
    border-right: 0px none red;
    display: inline-block;
    justify-content: center
}

body {
    margin-bottom: 60px;
    background-color: #e9f3fb
}

.responsive-table {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-row:nth-last-of-type(2n+1) {
    background-color: #fff5e7;
    font-size: 14px
}

.table-row:nth-last-of-type(2n) {
    background-color: #e4b18e;
}

.table-row:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid black;
}


.table-header {
    background: linear-gradient(0deg, rgba(171,110,80,1) 0%, rgba(228,177,142,1) 50%, rgba(171,110,80,1) 100%);
    padding: 20px;
    border-radius: 2px 15px 2px 15px;
    outline: 1px solid black;
}

.table-row {
    margin: 0;
    padding: 20px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    transition: background-color 0.2s ease-in-out;
}

.table-row:hover {
    background-color: #a2d0d8
}

.table-row:active {
    background-color: #6eb2cd
}

.btn-padding {
    padding: 0 0 15px 15px;
}



